/* FONDO GENERAL */
.wrapper {
  background: linear-gradient(
    90deg,
    #f3f5f8 0%,
    #e9ebee 95%,
    #f3f5f7 100%,
    #ffffff 100%
  );
  padding: 0.2rem 0;
}



/* TARJETA */
.card {
  background: inherit; /* EXACTAMENTE el fondo */
  border-radius: 18px;
  padding: 3rem;

  /* invisibilidad visual */
  box-shadow: none;

  transition:
    background-color 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.35s ease;
}

/* Solo al interactuar aparece la tarjeta */
.card:hover {
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow:
    0 0 0 1px rgba(238, 238, 238, 0.15),
    0 22px 40px rgba(0, 0, 0, 0.14);

}


/* TITULO */
.title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #111;
}

/* TEXTO */
.text {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 1.2rem;
}

/* FIRMA */
.signature {
  margin-top: 2.5rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0); /* línea separadora */
  font-size: 1.25rem;
  color: #991818;
  
}

.signature strong {
  display: block;
  font-size: 3.05rem;
  color: #991818;
  margin-bottom: 3.6rem;
}

.signature span {
  display: block;
  position: relative;
  padding-left: 1.6rem; /* más espacio entre punto y texto */
  line-height: 1.6;
}

.signature span::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* centrado vertical perfecto */
  color: #991818;
  font-size: 2.1rem;
  line-height: 1;
}




/* IMAGEN */
.imageBox {
  border-radius: 14px;
  overflow: hidden;
}
/* LINKS SOCIALES */
.socialLinks {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end; /* <-- Esto mueve todo a la derecha */
  gap: 1rem;
}

.socialLinks a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.socialLinks a:hover {
  transform: scale(1.1);
}

.instagramIcon {
  display: block;
  border-radius: 50%; /* opcional, si querés logo redondo */
}
@media (max-width: 768px) {

  .card {
    background: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 12px 24px rgba(0,0,0,0.08);
    transform: none;
  }

  .card:hover {
    transform: none;
    box-shadow: 0 12px 24px rgba(0,0,0,0.08);
  }

  .title {
    font-size: 2.1rem;
  }

  .signature strong {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .socialLinks {
    justify-content: center;
  }
}
