.pageContainer {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.mapWrapper {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  overflow: hidden;
  min-height: 500px;
}

.locationListScrollable {
  overflow-y: auto;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: #fff;
  height: 450px;
}

.locationItem {
  transition: background-color 0.15s ease-in-out;
  padding: 0.75rem;
}

.locationItem:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.activeLocationItem {
  background-color: #e30613 !important;
  color: #fff !important;
}

.locationName {
  font-size: 1rem;
  font-weight: 500;
}

.locationAddressMb0 {
  font-size: 0.85rem;
}

/* -------- MOBILE ACCORDION -------- */
.mobileAccordion summary {
  cursor: pointer;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 6px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.wrapper {
  background: linear-gradient(
    90deg,
    #e3e6ea 0%,
    #e4e7eb 88%,
    #eef1f4 95%,
    #ffffff 100%
  );
}
