/* productos.module.css */
.productsWrapper {
  background: linear-gradient(
    90deg,
    #f3f5f8 0%,
    #e9ebee 95%,
    #f3f5f7 100%,
    #ffffff 100%
  );
  padding: 2rem 1rem;
  min-height: 100vh;
}
